<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATLAST</title>
</head>

<body>
    <h1>LETS DO IT WITH A BANG!!!</h1>
    <% if (locals.id) { %>
        <p>URL GENERATED : https://localhost:8000/<%= id %>
        </p>

        <% } %>
            <form action="/url" method="POST">
                <label>URL SHORTNER</label>
                <input type="text" name="url" placeholder="Enter URL to shorten" required>
                <button type="submit">Shorten URL</button>
            </form>

            <div>
                <% if (locals.urls) { %>
                    <table>
                        <thead>
                            <th>S.No</th>
                            <th>Short URL</th>
                            <th>Redirect URL</th>
                            <th>Total Clicks</th>
                        </thead>
                        <tbody>

                            <% urls.forEach((url,index)=> { %>
                                <tr>
                                    <td>
                                        <%= index+1 %>
                                    </td>
                                    <td>
                                        <%= url.shortId %>
                                    </td>
                                    <td>
                                        <%= url.redirectedURL %>
                                    </td>
                                    <td>
                                        <%= url.visitHistory.length %>
                                    </td>
                                </tr>
                                <% }) %>

                        </tbody>
                    </table>
                    <% } %>
            </div>
</body>

</html>